.frame {
  border: 1px solid #04040433;
  width: 100%;
  min-height: 1080px;
  position: relative;
  overflow-x: hidden;
}

.background {
  background-color: #faf3e0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 114px;
  display: flex;
  gap: 37.9px;
  background-color: #f1d0b0;
  align-items: center;
  padding-left: 33.2px;
  box-sizing: border-box;
}

.image {
  width: 75.93px;
  height: 77.01px;
  aspect-ratio: 0.99;
}
.user {
  position: absolute;
  right: 15px; 
  width: 87px;
  height: 87px;
}

.group {
  width: 912.92px;
  height: 41.51px;
  position: relative;
}

.rectangle-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 892px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 200px 200px 200px 200px;
}

.text-wrapper-7 {
  position: absolute;
  top: 7px;
  left: 24px;
  width: 302px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #aba9a9;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border: none;
  background: transparent;
  outline: none;
  border-radius: 0px 0px 10px 10px; /* Corrigi as vírgulas aqui para espaços */
}

.tipo {
  position: absolute;
  top: 0;
  left: 697px;
  width: 195px;
  height: 42px;
  background-color: #f77f00;
  border-radius: 0px 200px 200px 0px;
  border: none;
  cursor: pointer;
}

.text-wrapper-8 {
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.svgrepo-bgcarrier {
  width: 87px;
  height: 87px;
  position: absolute;
  right: 30px;
  top: 13px;
  border: none;
  background: transparent;
}

.nav {
  position: absolute;
  top: 114px;
  left: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0px 4px 4px #00000040;
}

.rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f77f00;
  border: 0px none;
  z-index: -1;
}

.nav-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.text-wrapper-4,
.text-wrapper-5,
.text-wrapper-6 {
  width: 191px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.text-wrapper-4 {
  color: #fdf7f1;
}
.text-wrapper-5 {
  color: #fdf7f1;
}
.text-wrapper-6 {
  color: #fef8f2;
}

.line-2,
.line-3 {
  position: relative;
  width: 1px;
  height: 43px;
  object-fit: cover;
}

.main-content {
  position: absolute;
  top: 228px;
  left: 0;
  width: 100%;
  padding: 40px 160px;
  box-sizing: border-box;
  display: flex;
  gap: 60px;
}

.recipe-article {
  width: 60%;
}

.recipe-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.text-wrapper-2 {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.text-wrapper-3 {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
}

.rectangle {
  width: 100%;
  height: 392px;
  background-color: #f1d0b0;
}

.recipe-description {
  margin-top: 20px;
}

.p,
.lorem-ipsum-dolor {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
}

.recipe-sidebar {
  width: 35%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #04040433;
  margin-bottom: 20px;
}

.ingredients-section,
.preparation-section {
  margin-bottom: 20px;
}

.text-wrapper,
.div {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 10px;
}

.lorem-lorem-lorem {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
  padding-left: 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.star {
  
  width: 20px;
  height: 20px;
}